(
    name: "dart II",
    value: 2000,
    mass: 18.0,
    size: 19,
    equipment: Some(
        Weapon(
            Weapon(
                weapon_type: ProjectileWeapon (
                    tracking: 0.4,
                    speed: 12.0,
                    recoil: 0.7,
                    spread: 0.15,
                    shots: 1,
                    damage: 19,
                    radius: 0.38,
                    lifetime: 2.2,
                    energy: 5,
                    projectile_model: "projectiles/dart",
                )
            )
        )
    )
)
