(
    name: "light laser",
    value: 1200,
    mass: 10.0,
    size: 13,
    equipment: Some(
        Weapon(
            Weapon(
                weapon_type: LaserWeapon (
                    range: 3.0,
                    width: 0.01,
                    tracking: 0.3,
                    damage_per_second: 15.0,
                    energy_per_second: 9.0,
                    heat_per_second: 0.6,
                    cooling_per_second: 0.2,
                    activation_energy: 3.0,
                    color: (20.0,20.0,100.0),
                )
            )
        )
    )
)
