(
    name: "light laser",
    value: 1200,
    mass: 10.0,
    size: 13,
    equipment: Some(
        Weapon(
            Weapon(
                weapon_type: LaserWeapon (
                    range: 4.0,
                    width: 0.05,
                    tracking: 0.5,
                    damage_per_second: 30.0,
                    energy_per_second: 5.0,
                    heat_per_second: 0.3,
                    cooling_per_second: 0.3,
                    activation_energy: 3.0,
                    color: (20.0,20.0,100.0),
                )
            )
        )
    )
)
