(
    name: "minireactor",
    value: 500,
    mass: 8.0,
    size: 8,
    equipment: Some(
        Generator(
            Generator(
                recharge_rate: 2.5,
            ),
        ),
    ),
)
