(
    name: "minireactor",
    mass: 80.0,
    size: 8,
    equipment: Some(
        Energy(
            Energy(
                capacity: 24,
                recharge_rate: 3.0,
            ),
        ),
    ),
)
