(
    name: "shotgun",
    value: 80,
    mass: 3.0,
    size: 16,
    equipment: Some(
        Weapon(
            Weapon(
                weapon_type: ProjectileWeapon (
                    tracking: 0.2,
                    speed: 11.0,
                    recoil: 1.5,
                    spread: 0.7,
                    shots: 2,
                    damage: 10,
                    radius: 0.1,
                    lifetime: 1.0,
                    distance: 3.0,
                    energy: 7,
                    projectile_model: "projectiles/dart",
                )
            )
        )
    )
)
