(
    name: "solar array",
    mass: 380.0,
    size: 19,
    equipment: Some(
        Energy(
            Energy(
                capacity: 48,
                recharge_rate: 2.0,
            ),
        ),
    ),
)
