(
    name: "solar array",
    value: 800,
    mass: 380.0,
    size: 19,
    equipment: Some(
        Generator(
            Generator(
                capacity: 48,
                recharge_rate: 2.0,
            ),
        ),
    ),
)
