(
    name: "pest",
    craft: "pest",
    range: 16.0,
    credits: (20, 80),
    drops: [
        ("scrap_metal.item", (min: 2, max: 30, d: 3)),
        ("shotgun.weapon", (min: 1, max: 1, d: 9)),
        ("solar_array.generator", (min: 1, max: 1, d: 18)),
    ],
    inventory: [
        ("scrap_metal.item", 3),
    ],
    equipped: (
        equipped: ["shotgun.weapon", "minireactor.generator", "ion.battery"],
        slots: [(Weapon, 1), (Generator, 1), (Battery, 1)],
    ),
)
