(
    name: "pest",
    craft: "pest",
    range: 16.0,
    drops: [
        ("scrap_metal.item", (min: 2, max: 12, d: 6)),
    ],
    inventory: [
        ("scrap_metal.item", 3),
    ],
    equipped: [
        ("shotgun.weapon", 1),
        ("minireactor.energy", 1),
    ],
)
