Settings(
    window: (
        mode: Windowed,
    ),
    controls: (
        keyboard: (
            left: KeyA,
            right: KeyD,
            thrust: KeyW,
            brake: KeyS,
            fire: Space,
            console: Backquote,
        ),
    ),
)
