#![enable(implicit_some)]
(
    name: "nest",
    mass: 100.0,
    health: 100,
    size: 2.0,
    drops: [],
    spawner: (
        maximum: 4,
        tick: 3.0,
        spawns: [("pest", 2), ("pebble", 4), ("barge", 4), ("owl", 4)],
    ),
)
