#![enable(implicit_some)]
(
    name: "store",
    credits: 100000,
    mass: 100.0,
    health: 1000,
    size: 2.0,
    inventory: [
        ("scrap_metal.item", 999),
        ("autoweld_2.repair", 999),
    ],
    inventory_space: 99999999999,
    equipped: (
        equipped: ["dart.weapon", "minireactor.generator", "ion.battery"],
        slots: [(Weapon, 1), (Generator, 1), (Battery, 1)],
    ),
    store: [
        ("scrap_metal.item", (sell: Scaled(1.0), buy: Scaled(0.7))),
        ("autoweld_2.repair", (sell: Scaled(1.0), buy: Scaled(0.5))),
        ("shotgun.weapon", (sell: None, buy: Scaled(0.5))),
    ],
)
