#![enable(implicit_some)]
(
    name: "store",
    credits: 100000,
    mass: 100.0,
    health: 1000,
    size: 2.0,
    equipped: (
        equipped: ["dart.weapon", "minireactor.generator", "ion.battery"],
        slots: [(Weapon, 1), (Generator, 1), (Battery, 1)],
    ),
    store: [
        ("scrap_metal.item", (1,1)),
        ("autoweld_2.repair", (1,1)),
        ("shotgun.weapon", (1,1)),
    ],
)
